*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 60px;
}
header nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
header nav .nav-right-section{ 
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: flex-end;
    
}
.nav-right-section {
    align-items: center;
}
nav .nav-right-section a {
    margin-right: 10px;
    color: #000000;
    text-decoration: none;
    font-size: 1.6rem;
}
.nav-right-section .nav-icon-menu {
    background-image: url('https://static.thenounproject.com/png/756729-200.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
   
    margin-right: 10px;
    width: 25px;
    height: 25px;
}
nav .nav-right-section img {
    border-radius: 50%;
    border: 3px solid green;
}
main {
    margin-top: 190px;
    text-align: center;
}
main .main-logo {
    margin: 0 auto;
    width: 530px;
    margin-bottom: 25px;
}
main .main-input {
    width: 580px;
    margin: 0 auto;
    margin-bottom: 16px;
}
main .main-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 580px;
    height: auto;
    border-radius: 100px;
    border: 2px solid #e2e4e7;
}
main .main-input input {
    width: 497px;
    height: 40px;
    padding-left: 10px;
    border: none;
    outline: none;
    font-size: 1.8rem;
}
.main-input-container .search-icon {
    width: 22px;
    height: 22px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon.svg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}
main .main-input .micro-icon {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/716px-Google_mic.svg.png');
    width: 22px;
    height: 22px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}
main .main-input-container:hover {
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}
.main-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    width: 530px;
}
.main-buttons__button{
    width: 165px;
    height: 36px;
    justify-content: center;
    margin: 11px 4px;
    padding: 0 16px;
    background-color: #f8f9fa;
    color: #3c435b;
    font-size: 1.4rem;
    border: none;
    border-radius: 6px;
    margin-bottom: 32px;
}
.main-buttons__button:hover {
    box-shadow: 0px 0px 0px 1px #20212447;

}
.main-buttons__text-down {
    font-size: 1.3rem;
    font-weight: 300;
    color: #3c435b;
    
    
}
.main-buttons__text-down a {
    color: #3f42bb;
    text-decoration: none;
}
footer .footer-up{
    position: absolute;
    display: flex;
    bottom: 50px;
    width: 100%;
    height: 50px;
    background-color: #f2f2f2;
    align-items: center;
    border-bottom: 1px solid #dadce0;
   
}
footer .footer-up p {
    margin-left: 30px;
    font-size: 1.4rem;
    color: #70757a;
    
}
footer .footer-down {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #f2f2f2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 1.3rem;  
}
footer .footer-down ul {
    list-style: none;
    display: flex;
    margin: 10px;
    padding-left: 0;
}
.footer-p {
    margin-left: 30px;
    justify-self: left;
    font-size: 1.4rem;
    color: #70757a;
    
}
footer .footer-down .footer-left {
    margin-left: 30px;
    justify-self: left;
}
footer .footer-down .footer-right {
    margin-right: 30px;
    justify-self: right;
}
.footer-down .footer-left a {
    text-decoration: none;
    color: #3c435b;
    padding-right: 15px;
    font-size: 1.4rem;
    color: #70757a;
}
.footer-down .footer-right a {
    text-decoration: none;
    color: #3c435b;
    padding-right: 15px;
    font-size: 1.4rem;
    color: #70757a;
}

@media (min-width: 320px) {
    main {
        max-width: 320px;
        margin-top: 50px;
        text-align: center;
    }
    main .main-logo {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 120px;
        margin-bottom: 25px;
    }
    main .main-logo img {
        width: 120px;
    }
    main .main-input {
        width: 300px;
        margin: 0 auto;
        margin-bottom: 16px;
    }
    main .main-input-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: auto;
        border-radius: 100px;
        border: 2px solid #e2e4e7;
    }
    main .main-input input {
        width: 223px;
        height: 40px;
        padding-left: 10px;
        border: none;
        outline: none;
        font-size: 1.8rem;
    }
    .main-input-container .search-icon {
        width: 22px;
        height: 22px;
        background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon.svg.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    
    }
    main .main-input .micro-icon {
        background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/716px-Google_mic.svg.png');
        width: 22px;
        height: 22px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    
    }
    main .main-input-container:hover {
        box-shadow: 0 1px 6px 0 #20212447;
        border-color: #dfe1e500;
    }
    .main-buttons {
        display: none;
       
    }
    .main-buttons__text-down {
        margin-top: 35px;
        font-size: 1.3rem;
        font-weight: 300;
        color: #3c435b;
    }
    .main-buttons__text-down a {
        color: #3f42bb;
        text-decoration: none;
    }
}