*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-mobile {
    display: grid;
    width: 100%;
    height: 50px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.nav-mobile ul {
    display: flex;
    margin: 5px 10px;
}
.nav-mobile-left {
    align-items: center;
    justify-self: left;
    text-align: left;
    margin: 0;
}
.nav-mobile-right {
    align-items: center;
    justify-self: right;
}
.nav-mobile-left li {
    list-style: none;    
}
.nav-mobile-left li a {
    text-decoration: none;
    color: #3c435b;
}
.nav-menu_mobile--border-blue {
    text-align: center;
    padding: 14px 16px;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    
}
.nav-mobile-left li a:hover:not(.active) {
    background-color: white;
}
.active {
    border-bottom: 2px solid blue;
}
.nav-menu_mobile--border-blue:hover,
.nav-menu_mobile--border-blue:active {
    
}
.nav-mobile-right li {
    list-style: none;
}

.nav-icon-menu__mobile--left {
    justify-self: left;
    background-image: url('https://cdn-icons-png.flaticon.com/512/56/56763.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 10px;
    width: 22px;
    height: 22px;
}
.nav-icon-menu__mobile--right {
    justify-self: right;
    background-image: url('https://static.thenounproject.com/png/756729-200.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 10px;
    width: 30px;
    height: 30px;
}
.nav-mobile-right img {
    border-radius: 50%;
    border: 2px solid green;
}
.nav-desktop {
    display: none;
}
main {
    max-width: 320px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
main .main-logo {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 120px;
    min-width: 320px;
    margin-bottom: 25px;
}
main .main-logo img {
    width: 120px;
    margin: 0 auto;
    min-width: 120px;
}
main .main-input {
    width: 300px;
    min-width: 320px;
    margin: 0 auto;
    margin-bottom: 16px;
}
main .main-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    min-width: 320px;
    height: auto;
    border-radius: 100px;
    border: 2px solid #e2e4e7;
}
main .main-input input {
    width: 223px;
    height: 40px;
    padding-left: 10px;
    border: none;
    outline: none;
    font-size: 1.8rem;
}
.main-input-container .search-icon {
    width: 22px;
    height: 22px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon.svg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}
main .main-input .micro-icon {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/716px-Google_mic.svg.png');
    width: 22px;
    height: 22px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}
main .main-input-container:hover {
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}
.main-buttons {
    display: none;
    
}
.main-buttons__text-down {
    width: 320px;
    min-width: 320px;
    margin: 35px auto;
    font-size: 1.3rem;
    font-weight: 300;
    color: #3c435b;
}
.main-buttons__text-down a {
    color: #3f42bb;
    text-decoration: none;
}
footer .footer-up{
    position: absolute;
    display: flex;
    bottom: 120px;
    width: 100%;
    min-width: 320px;
    height: 50px;
    background-color: #f2f2f2;
    align-items: center;
    border-bottom: 1px solid #dadce0;
   
}
footer .footer-up p {
    margin-left: 30px;
    font-size: 1.4rem;
    color: #70757a;
    
}
footer .footer-down {
    display: none;
}
.footer-mobile {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-width: 320px;
    height: 120px;
    display: grid;
    grid-template-columns: 100%;
    background-color: #f2f2f2;
    align-items: center;
}
.footer-mobile-top,
.footer-mobile-mid,
.footer-mobile-bottom {
    display: flex;
    justify-content: center;
    margin: 10px;
}
.footer-mobile-top li,
.footer-mobile-mid li,
.footer-mobile-bottom li {
    list-style: none;
}
.footer-mobile-top a,
.footer-mobile-mid a,
.footer-mobile-bottom a {
    text-decoration: none;
    padding: 10px;
    font-size: 1.2rem;
    color: #70757a;
}







